.orders-container {
  direction: rtl;
  padding: 30px;
  background-color: rgba(209, 233, 246, 1);
  border-radius: 12px;
}

.card {
  background-color: rgba(154, 203, 208, 1);
  border: 1px solid #000000;
  border-right: 20px solid  rgba(72, 166, 167, 1);
  border-left: 20px solid rgba(72, 166, 167, 1);

}

.status-tag {
  font-weight: bold;
  color: #28a745;
}

.items{
  background-color: rgba(72, 166, 167, 1);
  border-radius: 12px;
  font-weight: bold;
}


.mynavebar{
  background-color: #2973B2;
  direction: rtl;
  text-align: right;
}

.navbar {
  display: flex;
  justify-content:start;
  align-items: center;
  direction: rtl;
  text-align: right;

  padding: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #2973B2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;



}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Space between items */
  padding: 0px 20px;
  margin-bottom: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 5px 15px;
  transition: 0.3s ease-in-out;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-right: auto;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #2973B2;
    width: 100%;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 10px 0;
  }

  .navbar ul.open {
    display: flex;
  }
}


/* Responsive for Mobile */



.genral_logo{
  display: flex;
  justify-content:start;
  align-items: center;
  direction: rtl;
  text-align: right;
  background-color:#F2EFE7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px;
  padding-right: 150px;

}
.logo-image{
  width: 56.51px; height: 55px;
  background-image: url("../pharmacy-roshta/Group18.png");
  background-size: cover; /* Ensures full coverage */
  background-repeat: no-repeat;

}

.logo{
  color:#255EAF; font-size: 30px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word

}


a.active-link {
  background-color: #64b1ff;
  color: #000;
  border-radius: 6px;
  padding: 5px 10px;
  font-weight: bold;
  transition: 0.3s ease;
}


.badge.bg-warning {
  font-size: 0.9rem;
  padding: 0.4em 0.7em;
  border-radius: 0.5rem;
}

