<app-navebar></app-navebar>

<div class="container mt-5 pt-5">
  <div div class="d-flex justify-content-between " style="margin-left: 270px; margin-right: 270px;">
    <button class="btn btn-primary w-25 " style="height:40px;"> تابع التسوق</button>
    <h2 class="text-center" style="padding-left: 250px; ">سلة التسوق</h2>
       <hr>
</div>
<hr style="margin-left: 290px; margin-right: 290px;;" class="border border-4 border-dark" >
<div class="d-flex justify-content-between  ms-auto " style="width: 400px; margin-right: 290px;">
  <a href="#" routerLink="/PreviousOperationsComponent" ><div class="  d-flex flex-column align-items-center" ><!-- عمليات سابقة -->
  <div class="material-symbols_autoplay "></div>

  <div style="padding-top: 0px;">عمليات سابقة</div>

</div></a><!-- عمليات سابقة -->
<a href="#" routerLink="/ProcessingCart"><div class="  d-flex flex-column align-items-center"><!-- تتم المعالجة-->
  <div class="vector">
    <!-- <li><a href="#" [routerLink]="['/cart']"> كارت </a></li> -->
  </div>
  <div >تتم المعالجة
  </div>
  </div><!-- تتم المعالجة--></a>
 <a href="#" > <div class="d-flex flex-column align-items-center"><!-- طلباتك الان -->
  <div class="material-symbols_autopause-rounded"></div>

    <div style="padding-top: 0px;">طلباتك الان</div>

  </div><!-- طلباتك الان --></a>
</div>
<br>
    <div class="row  ">
      <div class="col-md-8 mx-auto ">
        <div class="card p-3 bg-primary-subtle">
          @for (product of cart; track product.id) {
            <div class="d-flex align-items-center border-bottom pb-2 mb-2">
              <img [src]="product.image" class="img-fluid" width="100">
              <div class="ms-3 flex-grow-1">
                <h5>{{ product.name }}</h5>
                <p class="text-muted">{{ product.price }} جنيه</p>
                <div class="input-group w-50">
                  <button class="btn btn-outline-secondary" (click)="updateQuantity(product, product.quantity - 1)">-</button>
                  <input type="text" class="form-control text-center" [value]="product.quantity" readonly>
                  <button class="btn btn-outline-secondary" (click)="updateQuantity(product, product.quantity + 1)">+</button>
                </div>
              </div>
              <button class="btn btn-danger" (click)="removeItem(product.id)">🗑️</button>
            </div>
          }

          <div class="d-flex justify-content-between">

            <h5>{{  protected_price }} جنيه</h5>
            <h5>:سعر المنتج </h5>


          </div>
          <div class="d-flex justify-content-between">
            <h5>{{shipping}} جنيه</h5>
            <h5>:الشحن </h5>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <h5>{{shipping +  protected_price}} جنيه</h5>
            <h5>:الاجمالي </h5>
          </div>
          <button class="btn btn-primary w-100 mt-3">إتمام الشراء</button>
        </div>
      </div>
    </div>
  </div>

