

<nav class="navbar">
  <a href="#" class="text-decoration-none" routerLink="/intro">
      <div class="genral_logo" routerLink="/intro">
      <div class="logo-image ms-3"></div>
      <h1 class="logo">علاجي</h1>
    </div>
    </a>
    <div class="hamburger" (click)="toggleMenu()">
      &#9776;
    </div>
  <ul [class.open]="menuOpen">

    <li><a href="#" routerLink="/home" routerLinkActive="active">الرئيسيه</a></li>
    <li><a href="#">حول الموقع</a></li>
    <li><a href="#">تواصل معنا</a></li>
    <li><a href="#" routerLink="/login" routerLinkActive="active">تسجيل الدخول</a></li>
    <li class="cart-container" routerLink="/cart">
      السلة
      <span class="cart-icon-wrapper">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge">{{ cartProducts.length }}</span>
      </span>
    </li>
    <span style="display: inline-block; width: 2px; height: 40px; background-color: rgb(199, 199, 199); vertical-align: middle;"></span>
    <li><a style="font-size: 15px; width: 10px;">مرحبا ,{{userName}}</a></li>
  </ul>
</nav>
