

<nav class="navbar">
  <a href="#" class="text-decoration-none" routerLink="/intro">
      <div class="genral_logo" >
      <div class="logo-image ms-3"></div>
      <h1 class="logo">علاجي</h1>
    </div>
    </a>
  <ul >

    <li><a href="#" routerLink="/home" routerLinkActive="active">الرئيسيه</a></li>
    <li><a href="#">حول الموقع</a></li>
    <li><a href="#">تواصل معنا</a></li>
    <li><a href="#" routerLink="/login" routerLinkActive="active">تسجيل الدخول</a></li>
    <li class="card" routerLink="/cart"></li>
  </ul>
</nav>
