

<nav class="navbar ">
  <a href="#" class="text-decoration-none" routerLink="/intro">
      <div class="genral_logo" routerLink="/intro">
      <div class="logo-image ms-3"></div>
      <h1 class="logo">علاجي</h1>
    </div>
    </a>
    <div class="hamburger" (click)="toggleMenu()">
      &#9776;
    </div>
  <ul [class.open]="menuOpen">

    <li><a href="#" routerLink="/home" routerLinkActive="active">الرئيسيه</a></li>
    <li><a href="#">حول الموقع</a></li>
    <li><a href="https://wa.me/201099777627">تواصل معنا</a></li>
    <li class="cart-container" routerLink="/cart">
      السلة
      <span class="cart-icon-wrapper">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge">{{ cartCount }}</span>
      </span>
    </li>
    <span style="display: inline-block; width: 2px; height: 40px; background-color: rgb(199, 199, 199); vertical-align: middle;"></span>
    <!-- <li class="dropdown" style="position: relative;">
      <a (click)="toggleDropdown()"
         style="cursor: pointer; font-size: 15px; display: flex; flex-direction: column; align-items: start;">
        <span style="font-size: 14px;">مرحبا ,{{ userName }}</span>
        <div class="dropdown-toggle" style="font-weight: 600; font-size: 20px;">حسابي</div>
      </a>

      <!-- Dropdown 
       @if (showDropdown) {
         <div
         class="dropdown-menu show"
         style="display: block; position: absolute; top: 100%; right: 0; z-index: 1000;">
         <a href="#" style="color: black; font-size: 15px;" class="dropdown-item" (click)="handleClick()">{{ buttonLabel }}</a>
        </div>
      }
    </li> -->

  </ul>
</nav>
