<div class="fullscreen-bg d-flex">
  <div class="left-side back-ground  col-5">
    <div class="image-c"></div>
</div>

  <div class=" col-7 d-flex flex-column align-items-end ps-1 list-unstyled">
    <nav class="navbar">
      <div class="logo-image ms-3"></div>
      <ul >

        <li><a href="#">حول الموقع</a></li>
        <li><a href="#">تواصل معنا</a></li>
        <li><a href="#" [routerLink]="['/login']">تسجيل الدخول</a></li>
      </ul>
    </nav>

    <div class="text-ed1 fs-5 ">
      <h1 class="logo" >علاجي</h1>
      <p class="pt-5 fs-3 w-75">موقع يقوم بخدمة العملاء للوصوء للأدويه في كافة الصيدليات القريبه منه ..</p>
      <button class="btn btn_color mt-5 fs-1 " (click)="onStartClick()">أبدء...</button>
  </div>

</div>

