<app-navebar></app-navebar>

<div class="container mt-5">
   <div div class="d-flex justify-content-between " style="margin-left: 270px; margin-right: 270px;">
    <button class="btn btn-primary w-25 " style="height:40px;"> تابع التسوق</button>
    <h2 class="text-center" style="padding-left: 250px; ">سلة التسوق</h2>
       <hr> 
</div>
<hr style="margin-left: 290px; margin-right: 290px;;" class="border border-4 border-dark" >
<div class="d-flex justify-content-between  ms-auto " style="width: 400px; margin-right: 290px;">
  <a href="#"><div class="  d-flex flex-column align-items-center" ><!-- عمليات سابقة -->
  <div class="material-symbols_autoplay "></div>

  <div style="padding-top: 0px;">عمليات سابقة</div>
  
</div></a><!-- عمليات سابقة -->
<a href="#"><div class="  d-flex flex-column align-items-center"><!-- تتم المعالجة-->
  <div class="vector">
   
  </div>
  <div >تتم المعالجة
  </div>
  </div><!-- تتم المعالجة--></a>
 <a href="#"> <div class="d-flex flex-column align-items-center"><!-- طلباتك الان -->
  <div class="material-symbols_autopause-rounded"></div>
  
    <div style="padding-top: 0px;">طلباتك الان</div>
  
  </div><!-- طلباتك الان --></a>
</div>
<br>
    <div class="row  ">
      <div class="col-md-8 mx-auto ">
       
        <div class="card p-3 bg-primary-subtle">
          <h3 style="text-align: right;">العمليات المنتهيه </h3>
          <hr>
          @for (PreviousOperationsComponent of cart; track PreviousOperationsComponent.id) {
           
            <div >
              
              <table><tr>
             
                <td style="width: 100px;" > <img [src]="PreviousOperationsComponent.image" class="img-fluid" width="100px"></td>
                <td><div class="ms-3 flex-grow-1">
                  <h5 style="width: 150px;">{{ PreviousOperationsComponent.name }}</h5>
                  <p class="text-muted">{{ PreviousOperationsComponent.price }} جنيه</p>
               
                </div> </td>
              
              
                <td>
              <h1 class="fs-6 fw-light  text-danger" style="text-align: right; width: 300px;" >{{PreviousOperationsComponent.state}}</h1>
              <h1 class="fs-6 fw-light text-danger" style="text-align: right; width: 300px; " >{{PreviousOperationsComponent.date}}</h1>
              <h1 class="fs-6 fw-light text-danger" style="text-align: right; width: 300px;" >{{PreviousOperationsComponent.time}}</h1>
             
              
            </td>
          <td style="padding-left: 25px;"> <button class="btn btn-primary w-100 mt-3" >اعادة الطلب</button></td></tr></table></div>  
              
          }

          
        </div></div>   
  </div></div>
  
  