<app-navebar-admin></app-navebar-admin>
<!-- From Uiverse.io by eslam-hany --> 
<div class="d-flex justify-content-around mt-5">
<div class="book">
    <p>{{usircoint}}</p>
    <div class="cover d-flex flex-column ">
        <div class="fluent_people-team-16-filled"></div>
        <p> العملاء المنضمين</p>
    </div>
   </div>
   <!-- From Uiverse.io by eslam-hany --> 
 <div class="book">
    <p>{{pharmacyCount}}</p>
    <div class="cover d-flex flex-column ">
        <div class="healthicons_pharmacy"></div>
        <p>الصيدليات</p>
    </div>
   </div>
   <!-- From Uiverse.io by eslam-hany --> 
 <div class="book">
    <p>30</p>
    <div class="cover d-flex flex-column ">
        <div class="Vector1"></div>
        <p>الطلبات المنتهيه</p>
    </div>
   </div></div>