<app-navebar-admin></app-navebar-admin>
<br />
<div class="content-with-navbar container">
  <h3 class="mb-4 text-center">العملاء المنضمين</h3>
  <hr />

  <ng-container>
    <div class="row justify-content-center g-4">
      @for (usieadmin of usieadmin(); track usieadmin.id) {
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card h-100 p-3">
            <div class="card__border"></div>

            <div class="table-responsive">
              <table class="table table-bordered table-sm text-white mb-0">
                <tbody>
                  <tr>
                    <th scope="row">اسم</th>
                    <td>{{ usieadmin.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">البريد الالكتروني</th>
                    <td>{{ usieadmin.email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">العنوان</th>
                    <td>{{ usieadmin.location }}</td>
                  </tr>
                  <tr>
                    <th scope="row">رقم الهاتف</th>
                    <td>{{ usieadmin.phoneNumber }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <button class="btn btn-danger mt-3 w-100" (click)="deleteuser(usieadmin.id)">
              إزالة الحساب
            </button>
          </div>
        </div>
      }
    </div>
  </ng-container>
</div>
