<nav class="navbar">
  <a href="#" class="text-decoration-none" routerLink="/intro">
    <div class="genral_logo d-flex align-items-center">
      <div class="logo-image ms-3"></div>
      <h1 class="logo mb-0">علاجي</h1>
    </div>
  </a>

  <div class="hamburger" (click)="toggleMenu()">
    &#9776;
  </div>

  <ul [class.open]="menuOpen" class="nav-links">
    <li><a routerLink="/UsirAdmin" routerLinkActive="active">العملاء المنضمين</a></li>
    <li><a routerLink="/PharmacyListComponent" routerLinkActive="active">صيدليات قيد المعالجة</a></li>
    <li><a routerLink="/orders_admin" routerLinkActive="active">الطلبات المنتهية</a></li>
    <li><a routerLink="/AddPharmacy" routerLinkActive="active">اضافة صيدلية</a></li>
    <li>
      <button class="btn btn-danger ms-2" (click)="clearLocalStorage()">
        تسجيل الخروج
      </button>
    </li>
    <span class="divider"></span>
    <!-- <li><a style="font-size: 15px;" class="mt-5">مرحبا ,{{userName}}</a></li> -->
  </ul>
</nav>
