<app-navebar-admin></app-navebar-admin>
<div class="content-with-navbar bg-image pt-5">
<!-- From Uiverse.io by eslam-hany -->
<div class="content-with-navbar row justify-content-center mt-5 gap-5">
<div class="book" routerLink="/UsirAdmin">
    <p>{{usircoint}}</p>
    <div class="cover d-flex flex-column ">
        <div class="fluent_people-team-16-filled"></div>
        <p> العملاء المنضمين</p>
    </div>
   </div>
   <!-- From Uiverse.io by eslam-hany -->
 <div class="book" routerLink="/PharmacyListComponent">
    <p>{{pharmacyCount}}</p>
    <div class="cover d-flex flex-column ">
        <div class="healthicons_pharmacy"></div>
        <p>الصيدليات</p>
    </div>
   </div>
   <!-- From Uiverse.io by eslam-hany -->
 <div class="book" routerLink="/orders_admin">
    <p>{{ordirscount}}</p>
    <div class="cover d-flex flex-column ">
        <div class="Vector1"></div>
        <p>الطلبات المنتهيه</p>
    </div>
   
  </div>
  <div class="book" routerLink="/Addproduct">
    <div class="hoom"></div>
    <div class="cover d-flex flex-column ">
        <div class="mnm"></div>
        <p>اضافة منتج</p>
    </div>
</div>
